<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">


<link rel="import" href="shared-styles.html">

<dom-module id="alta-movimiento">
  <template>
    <style include="shared-styles">
       :host {
         display: block;
         padding: 10px;
       }

     </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="card">

      <div class="section-top-border">
		       <div class="row">
             <div class="col-md-1">
             </div>
		         <div class="col-md-3">
		            <img src="images/Mi_banco.png" alt="" class="img-fluid">
		         </div>
		         <div class="col-md-6 mt-sm-20">
               <template is="dom-if" if="[[error]]">
                    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
               </template>
               <div class="story-content">
                <h1>Alta de movimiento:</h1>
                <template is="dom-if" if="[[warning]]">
                     <p class="alert-warning">Comisión aplicable del [[warning]]</p>
                </template>
                <paper-dropdown-input label="Tipo de movimiento" items='["Transferencia","Retirada de efectivo","Compra","Ingreso en cuenta" ]' value="{{tipoMovimiento}}" onchange="showSpecificData">
                </paper-dropdown-input>

                 <paper-input-container>
                   <label slot="input">Importe</label>
                   <iron-input slot="input" bind-value="{{amount}}">
                     <input class="input-style" id="alias" type="number" value="{{amount}}" placeholder="Importe">
                   </iron-input>
                 </paper-input-container>

                 <paper-input-container>
                   <label slot="input">Descripción</label>
                   <iron-input slot="input" bind-value="{{description}}">
                     <input class="input-style" id="alias" type="text" value="{{description}}" placeholder="Descripción">
                   </iron-input>
                 </paper-input-container>

                 <div id="transferencia" style="display:none">
                   <paper-input-container>
                     <label slot="input">Iban cuenta destino</label>
                     <iron-input slot="input" bind-value="{{receiverAccountIBAN}}">
                       <input class="input-style" id="ibandestino" type="text" value="{{receiverAccountIBAN}}" placeholder="Iban cuenta destino">
                     </iron-input>
                   </paper-input-container>
                 </div>
                 <div id ="compra" style="display:none">
                   <paper-input-container>
                     <label slot="input">Comercio</label>
                     <iron-input slot="input" bind-value="{{store}}">
                       <input class="input-style" id="store" type="text" value="{{store}}" placeholder="Comercio">
                     </iron-input>
                   </paper-input-container>
                 </div>

                 <div class="wrapper-btns">
                   <paper-button raised class="genric-btn success-border small" on-tap="cancelar">Cancelar</paper-button>
                    <paper-button raised class="genric-btn primary-border small" on-tap="alta">Alta</paper-button>
                 </div>
             </div>
		         </div>
		       </div>
		  </div>

    </div>

      <iron-ajax
        id="createTransaction"
        url="http://localhost:3000/transactions/v1"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="manageAjaxResponse"
        headers={{token}}
        on-error="showError"></iron-ajax>

  </template>

       <script>
         /**
          * @customElement
          * @polymer
          */
         class AltaMovimiento extends Polymer.Element {
           static get is() { return 'alta-movimiento'; }
           static get properties() {
             return {
               accountId: {
                 type: String,
                 value: sessionStorage.getItem("accountId")
               },
               userId:{
                 type: String,
                 value: sessionStorage.getItem("userId")
               },
               token:{
                 type: Object,
                 value: {"x-access-token" : sessionStorage.getItem("sessionId")}
               },
               userName:{
                 type: String,
                 value: sessionStorage.getItem("name")
               },
               tipoMovimiento: {
                 type:String,
                 observer: '_showSpecificData'
               },
               transactionTypeCode: {
                 type: String,
                 computed: '_getTransactionCode(tipoMovimiento)'
               },
               amount: {
                 type:Number
               },
               receiverAccountIBAN : {
                 type: String
               },
               store: {
                 type:String
               },
               description: {
                 type:String
               },
               warning: {
                 type:String
               }
             };
           }

           _showSpecificData(newValue,oldValue){
             console.log(newValue);
             if (newValue=="Retirada de efectivo"){
               this.warning="1%";
               this.$.compra.style="display:none";
               this.$.transferencia.style="display:none";
             }else if (newValue=="Transferencia") {
                this.$.transferencia.style="";
                this.$.compra.style="display:none";
                this.store = "";
                this.warning="2%";
             }else  if (newValue=="Compra") {
               this.$.transferencia.style="display:none";
               this.receiverAccountIBAN="";
               this.$.compra.style="";
               this.warning="";
             }else {
               this.$.compra.style="display:none";
               this.$.transferencia.style="display:none";
             }


           }

           manageAjaxResponse (data){
             console.log("manageAjaxResponse - alta movimiento");
             window.location.href = "/mybank/listado-movimientos";
           }

           showError (error){
             console.log("Se ha producido un error");
             console.log(error);
             this.error = error.detail.request.response.error_msg;
           }

           _getTransactionCode(){
             if (this.tipoMovimiento=="Retirada de efectivo") return "CASH";
             if (this.tipoMovimiento=="Transferencia") return "TRANSFER";
             if (this.tipoMovimiento=="Ingreso en cuenta") return "INGRESO";
             if (this.tipoMovimiento=="Compra") return "PURCHASE";
           }

           cancelar(){
             window.location.href = "/mybank/listado-movimientos";
           }

           alta(data){
             console.log("Crear movimiento...");

             var crearData = {
               "amount" : this.amount,
               "type": this.transactionTypeCode,
               "accountId": this.accountId,
               "description": this.description,
               "receiverAccountIBAN": this.receiverAccountIBAN,
               "store": this.store
             };
             console.log(JSON.stringify(crearData));
             //para acceder a los elemenots del shadow dom con this.$
             this.$.createTransaction.body = JSON.stringify(crearData);
             //hacer la llamada ajax
             this.$.createTransaction.generateRequest();
             console.log("Petición enviada");
           }
         }
         window.customElements.define(AltaMovimiento.is, AltaMovimiento);
       </script>
  </dom-module>
