<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="calculadora-divisas">
  <template>
  <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


        <h6>Calculadora de divisas: </h6>
          <paper-input-container>
            <label slot="input">Cantidad</label>
              <iron-input slot="input" bind-value="{{fromValue}}">
                <input class="input-style" id="fromValue" type="number" value="{{fromValue}}" placeholder="Cantidad">
              </iron-input>
          </paper-input-container>
          <paper-dropdown-input label="De" items='["EUR","USD","GBP", "JPY","BTC"]' value="{{fromType}}">
          </paper-dropdown-input>
          <paper-dropdown-input label="A" items='["EUR","USD","GBP", "JPY","BTC"]' value="{{toType}}">
          </paper-dropdown-input>
          <div class="green">
            <h5 class="mb-30"> [[toValue]] [[resultType]]</h5>
          </div>
          <div class="wrapper-btns">
            <paper-button raised class="genric-btn primary-border small" on-tap="convertir">Calcular</paper-button>
          </div>

    <iron-ajax
      id="calcular"
      url='http://localhost:3000/externalData/exchange/v1?fromValue=[[fromValue]]&fromType=[[fromType]]&toType=[[toType]]'
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAjaxResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>

    class CalculadoraDivisas extends Polymer.Element {
      static get is() { return 'calculadora-divisas'; }
      static get properties() {
        return {
          fromValue: {
            type:Number
          },
          fromType: {
            type:String
          },
          toType: {
            type:String
          },
          toValue: {
            type:Number
          }
        };
      }
      manageAjaxResponse (data){
        console.log("manageAjaxResponse");
        console.log(data.detail.response);
        this.toValue = data.detail.response.result;
        this.resultType = this.toType;
      }

      showError (error){
        console.log("Se ha producido un error");
        console.log(error);
        this.error = error.detail.request.response.error_msg;
      }

      convertir (data){
        console.log("function convertir: se ha pulsado el botón");
        this.$.calcular.generateRequest();
        console.log("Petición enviada");
      }
    }

    window.customElements.define(CalculadoraDivisas.is, CalculadoraDivisas);
  </script>

</dom-module>
