<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="calculadora-divisas.html">
<link rel="import" href="shared-styles.html">

<dom-module id="detalle-movimiento">
  <template>
    <style include="shared-styles">
       :host {
         display: block;
         padding: 10px;
       }

     </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div class="card">

       <div class="section-top-border">
 		       <div class="row">
             <div class="col-md-1">
             </div>
            <div class="col-md-2">
 		            <img src="images/Mi_banco.png" alt="" class="img-fluid">
 		         </div>
 		         <div class="col-md-5 mt-sm-20">
               <h3>Detalle movimiento</h3>
                <h5 class="mb-30">[[account]]</h5>
                <h5 class="mb-30">Tipo Movimiento: [[typeDescription]]</h5>
                <h5 class="mb-30">Fecha: [[transaction.date]]</h5>
                <h5 class="mb-30">Descripción: [[transaction.description]]</h5>
                <template is="dom-if" if="{{transaction.receiverAccountIBAN}}" restamp="true">
                  <h5 class="mb-30">Cuenta destino: {{transaction.receiverAccountIBAN}}</h5>
                </template>
                <template is="dom-if" if="{{transaction.store}}" restamp="true">
                  <h5 class="mb-30"> Comercio: [[transaction.store]]</h5>
                </template>
                <template is="dom-if" if="{{positiveTransaction}}" restamp="true">
                  <div class="green">
                    <h5 class="mb-30">Importe: + [[transaction.amount]]  [[account.currency]]</h5>
                    <h5 class="mb-30">Importe total: + [[transaction.totalAmount]]  [[account.currency]]</h5>
                  </div>
                </template>
                <template is="dom-if" if="{{!positiveTransaction}}" restamp="true">
                  <div class="red">
                    <h5 class="mb-30">Importe: - [[transaction.amount]]  [[account.currency]]</h5>
                    <h5 class="mb-30">Comisión: - [[transaction.feesAmount]]  [[account.currency]]</h5>
                    <h5 class="mb-30">Importe total: - [[transaction.totalAmount]]  [[account.currency]]</h5>
                  </div>
                </template>
                <paper-button class="link" on-tap="volver"> << Volver </paper-button>
 		         </div>
             <div class="col-md-2">
                 <calculadora-divisas></calculadora-divisas>
             </div>
 		       </div>
 		  </div>
  </template>

       <script>
         /**
          * @customElement
          * @polymer
          */
         class DetalleMovimiento extends Polymer.Element {
           static get is() { return 'detalle-movimiento'; }
           static get properties() {
             return {
               account: {
                 type: String,
                 value: sessionStorage.getItem("account")
               },
               userId:{
                 type: String,
                 value: sessionStorage.getItem("userId")
               },
               token:{
                 type: Object,
                 value: {"x-access-token" : sessionStorage.getItem("sessionId")}
               },
               userName:{
                 type: String,
                 value: sessionStorage.getItem("name")
               },
               transaction: {
                 type: Object,
                 value: JSON.parse(sessionStorage.getItem("transaction"))
               },
               typeDescription: {
                 type: String,
                 computed: '_getDescription(transaction)'
               },
               positiveTransaction: {
                 type: Boolean,
                 computed: '_getPositiveTransaction(transaction)'
               }
             };
           }

           volver(){
             console.log("volver a movimientos");
             sessionStorage.removeItem("transaction");
             sessionStorage.removeItem("account");
             window.location.href = "/mybank/listado-movimientos";
           }

           _getDescription(transaction){
             console.log("Descripcion movimiento")
             if (this.transaction.type=="CASH") return "Retirada de efectivo";
             if (this.transaction.type=="TRANSFER") return "Transferencia";
             if (this.transaction.type=="INGRESO") return "Ingreso en cuenta";
             if (this.transaction.type=="PURCHASE") return "Compra";
           }
           _getPositiveTransaction (transaction){
             if (this.transaction.type=="CASH") return false;
             if (this.transaction.type=="TRANSFER") return false;
             if (this.transaction.type=="INGRESO") return true;
             if (this.transaction.type=="PURCHASE") return false;
           }


         }
         window.customElements.define(DetalleMovimiento.is, DetalleMovimiento);
       </script>
  </dom-module>
