<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">

<link rel="import" href="shared-styles.html">

<dom-module id="listado-cuentas">
  <template>
    <style include="shared-styles">
       :host {
         display: block;
         padding: 10px;
       }

     </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="card">

      <div class="section-top-border">
		       <div class="row">
             <div class="col-md-1">
             </div>
		         <div class="col-md-2">
		            <img src="images/Mi_banco.png" alt="" class="img-fluid">
		         </div>
		         <div class="col-md-5 mt-sm-20">
               <template is="dom-if" if="[[error]]">
                    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
               </template>

                <h3 class="mb-30">Posición Global</h3>
                <template is="dom-if" if="{{positiveBalance}}" restamp="true">
                  <div class="counter-left-green"> Saldo Total: [[totalBalance]] </div>
                </template>
                <template is="dom-if" if="{{!positiveBalance}}" restamp="true">
                  <div class="counter-left-red"> Saldo Total: [[totalBalance]] </div>
                </template>

		         </div>
             <div class="col-md-2">
                 <calculadora-divisas></calculadora-divisas>
             </div>
		       </div>
		  </div>

        <simple-material-table columns="[[columnas]]" table-data={{accounts}} on-row-selected="_movimientos"></simple-material-table>

        <div class="wrapper-btns">
          <paper-button raised class="genric-btn primary-border small" on-tap="nuevaCuenta">Nueva</paper-button>
        </div>
    </div>

    <iron-ajax
      auto
      id="getAccounts"
      url="http://localhost:3000/accounts/v1?userId=[[userId]]"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAjaxResponse"
      headers={{token}}
      on-error="showError"></iron-ajax>

  </template>

       <script>
         /**
          * @customElement
          * @polymer
          */
         class ListadoCuentas extends Polymer.Element {
           static get is() { return 'listado-cuentas'; }
           static get properties() {
             return {
               iban: {
                 type: String,
               },
               id: {
                 type: String,
               },
               balance: {
                 type: Number
               },
               accounts: {
                 type: Array
               },
               userId:{
                 type: String,
                 value: sessionStorage.getItem("userId")
               },
               token:{
                 type: Object,
                 value: {"x-access-token" : sessionStorage.getItem("sessionId")}
               },
               userName:{
                 type: String,
                 value: sessionStorage.getItem("name")
               },
               totalBalance: {
                 type: Number
               },
               positiveBalance:{
                 type:Boolean,
               },
               showTransactions:{
                 type:Boolean,
                 value:false
               }
             };
           }
           manageAjaxResponse (data){
             console.log("manageAjaxResponse - cuentas");
             var cuentas = data.detail.response;
             this.accounts = cuentas;
             var saldoAcumulado = 0;
             var i;
             for (i=0; i< cuentas.length;i++){
               saldoAcumulado += cuentas[i].balance;
             }
             this.totalBalance = saldoAcumulado;
             this.positiveBalance = saldoAcumulado>=0;
           }

           showError (error){
             console.log("Se ha producido un error");
             console.log(error);
             this.error = error.detail.request.response.error_msg;
           }

          _movimientos(id){
            console.log(id.detail._id);
            sessionStorage.setItem("accountId",id.detail._id);
            window.location.href = "/mybank/listado-movimientos";
          }

          nuevaCuenta() {
            console.log("Alta de cuenta");
            window.location.href = "/mybank/nueva-cuenta";
          }

          constructor() {
             super();
             this.columnas = [{
               title: "IBAN",
               number: false,
               column: 'iban',
               hidden: false
             },
             {
               title: "Alias",
               number: false,
               column: 'alias',
               hidden: false
             },
             {
               title: "Límite diario",
               number: true,
               column: 'dailyLimit',
               hidden: false
              },
              {
                title: "Límite movimiento",
                number: true,
                column: 'transactionLimit',
                hidden: false
               },  {
               title: "Saldo",
               number: true,
               column: 'balance',
               hidden: false
              },
               {
              title: "Divisa",
              number: false,
              column: 'currency',
              hidden: false
             },
              {
               title: "accountId",
               number: false,
               column: '_id',
               hidden: true
             }];
         }


         }
         window.customElements.define(ListadoCuentas.is, ListadoCuentas);
       </script>
  </dom-module>
