<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/simple-material-table/simple-material-table.html">
<link rel="import" href="calculadora-divisas.html">
<link rel="import" href="shared-styles.html">

<dom-module id="listado-movimientos">
  <template>
    <style include="shared-styles">
       :host {
         display: block;
         padding: 10px;
       }

     </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

     <div class="card">

       <div class="section-top-border">
 		       <div class="row">
             <div class="col-md-1">
             </div>
            <div class="col-md-2">
 		            <img src="images/Mi_banco.png" alt="" class="img-fluid">
 		         </div>
 		         <div class="col-md-5 mt-sm-20">
               <template is="dom-if" if="[[error]]">
                    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
               </template>
                 <h3 class="mb-30">Cuenta: [[account.iban]]</h3>
                 <template is="dom-if" if="{{positiveBalance}}" restamp="true">
                   <div class="counter-left-green"> Saldo Total: [[account.balance]] - [[account.currency]]</div>
                 </template>
                 <template is="dom-if" if="{{!positiveBalance}}" restamp="true">
                   <div class="counter-left-red"> Saldo Total: [[account.balance]] - [[account.currency]]</div>
                 </template>
                 <h5 class="mb-30">Límite movimiento: [[account.transactionLimit]] - [[account.currency]]</h5>
                 <h5 class="mb-30">Límite diario: [[account.dailyLimit]] - [[account.currency]]</h5>

                 <paper-button raised class="genric-btn primary-border small"  on-tap="showLimits">  Modificar límites </paper-button>
                 <paper-button class="link" on-tap="volver"> << Volver </paper-button>
                 <div id="modidificar" style="display:none">
                   <paper-input-container>
                     <label>Límite de movimiento</label>
                     <iron-input slot="input" bind-value="{{transactionLimit}}">
                       <input id="transactionLimit" type="number" min="20" max="[[account.balance]]" value="{{transactionLimit}}" placeholder="Límite de movimiento">
                     </iron-input>
                   </paper-input-container>

                   <paper-input-container>
                     <label>Límite diario</label>
                     <iron-input slot="input" bind-value="{{dailyLimit}}">
                       <input id="dailyLimit" type="number" min="100" max="[[account.balance]]" value="{{dailyLimit}}" placeholder="Límite diario">
                     </iron-input>
                   </paper-input-container>
                   <div class="wrapper-btns">
                     <paper-button raised class="genric-btn primary-border small" on-tap="editar">Editar</paper-button>
                   </div>
                 </div>
 		         </div>
             <div class="col-md-2">
                 <calculadora-divisas></calculadora-divisas>
             </div>
 		       </div>
          <simple-material-table columns="[[columnas]]" table-data={{transactions}} on-row-selected="_detalle"></simple-material-table>

          <div class="wrapper-btns">
            <paper-button raised class="genric-btn primary-border small" on-tap="nuevoMovimiento">Nuevo</paper-button>
          </div>
 		  </div>

    <iron-ajax
      auto
      id="getAccountTransactions"
      url="http://localhost:3000/transactions/v1?accountId=[[accountId]]"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAjaxResponse"
      headers={{token}}
      on-error="showError"></iron-ajax>

      <iron-ajax
        auto
        id="getAccount"
        url="http://localhost:3000/accounts/v1/[[accountId]]"
        method="GET"
        content-type="application/json"
        handle-as="json"
        on-response="manageAjaxResponseCuenta"
        headers={{token}}
        on-error="showError"></iron-ajax>

        <iron-ajax
          id="modifyAccount"
          url="http://localhost:3000/accounts/v1/[[accountId]]"
          method="PUT"
          content-type="application/json"
          handle-as="json"
          on-response="manageAjaxResponseLimites"
          headers={{token}}
          on-error="showError"></iron-ajax>

  </template>

       <script>
         /**
          * @customElement
          * @polymer
          */
         class ListadoMovimientos extends Polymer.Element {
           static get is() { return 'listado-movimientos'; }
           static get properties() {
             return {
               accountId: {
                 type: String,
                 value: sessionStorage.getItem("accountId")
               },
               account: {
                 type: Object
               },
               userId:{
                 type: String,
                 value: sessionStorage.getItem("userId")
               },
               token:{
                 type: Object,
                 value: {"x-access-token" : sessionStorage.getItem("sessionId")}
               },
               userName:{
                 type: String,
                 value: sessionStorage.getItem("name")
               },
               transactions: {
                 type: Array
               },
               positiveBalance : {
                 type: Boolean
               },
               transactionLimit : {
                 type: Number

               },
               dailyLimit : {
                 type: Number,
               }
             };
           }
           manageAjaxResponse (data){
             console.log("manageAjaxResponse - movimientos");
             this.transactions = data.detail.response;
            }

            manageAjaxResponseCuenta (data){
              console.log("manageAjaxResponse - cuenta");
              this.account = data.detail.response;
              this.dailyLimit = this.account.dailyLimit;
              this.transactionLimit = this.account.transactionLimit;
              this.positiveBalance = this.account.balance>=0;
             }

             manageAjaxResponseLimites (data){
               console.log("manageAjaxResponse - limites");
               this.account = data.detail.response;
               this.$.modidificar.style="display:none";
              }

           showError (error){
             console.log("Se ha producido un error");
             console.log(error);
             this.error = error.detail.request.response.error_msg;
           }
           _detalle(id){
             console.log(id.detail);
             var accountString = this.account.alias? this.account.alias + " - " + this.account.iban : this.account.iban;
             sessionStorage.setItem("account", accountString);
             sessionStorage.setItem("transaction",JSON.stringify(id.detail));
             window.location.href = "/mybank/detalle-movimiento";
           }
           volver(){
             console.log("volver a cuentas");
             sessionStorage.removeItem("accountId");
             window.location.href = "/mybank/listado-cuentas";
           }

           showLimits() {
                this.$.modidificar.style="";
           }

           editar(){
             console.log("function editar limites");
             var modificarData = {
               "dailyLimit" : this.dailyLimit,
               "transactionLimit" : this.transactionLimit,
             };
             //para acceder a los elemenots del shadow dom con this.$
             this.$.modifyAccount.body = JSON.stringify(modificarData);
             //hacer la llamada ajax
             this.$.modifyAccount.generateRequest();
             console.log("Petición enviada");
           }

           nuevoMovimiento() {
             console.log("Alta de movimiento");
             window.location.href = "/mybank/alta-movimiento";
           }

           constructor() {
              super();
              this.columnas = [{
                title: "sDate",
                number: false,
                column: 'sort_date',
                hidden: true
              }, {
                title: "Fecha",
                number: false,
                column: 'date',
                hidden: false
              }, {
                title: "Tipo",
                number: false,
                column: 'type',
                formatter: function (value) {
                  if (value=="CASH") return "Retirada de efectivo";
                  if (value=="TRANSFER") return "Transferencia";
                  if (value=="INGRESO") return "Ingreso en cuenta";
                  if (value=="PURCHASE") return "Compra";
                },
                hidden: false
              },
              {
                title: "Descripción",
                number: false,
                column: 'description',
                hidden: false
              },
              {
                title: "Importe",
                number: true,
                column: 'amount',
                hidden: false
               },
               {
                 title: "Comisión",
                 number: true,
                 column: 'feesAmount',
                 hidden: false
                },
                {
                  title: "Importe total",
                  number: true,
                  column: 'totalAmount',
                  hidden: false
                 },
               {
                 title: "Saldo inicial",
                 number: true,
                 column: 'initialBalance',
                 hidden: false
                },
                  {
                title: "Saldo final",
                number: true,
                column: 'finalBalance',
                hidden: false
               },
               {
                  title: "Divisa",
                  number: false,
                  column: 'currency',
                  hidden: false
               }];
          }
         }
         window.customElements.define(ListadoMovimientos.is, ListadoMovimientos);
       </script>
  </dom-module>
