<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="shared-styles.html">

<dom-module id="login-usuario">
  <template>
  <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <app-location route="{{route}}"></app-location>


    <div class="card">
       <div class="row fullscreen align-items-center justify-content-center">

         <div class="banner-left col-lg-6">
           <img src="images/Mi_banco.png" class="d-flex mx-auto img-fluid"></img>
         </div>
         <div class="col-lg-6">
           <div class="story-content">
             <h6>Entra o <a class="link" onclick="registro">Registrate</a> para empezar</h6>
             <template is="dom-if" if="[[error]]">
                  <p class="alert-error"><strong>Error:</strong> [[error]]</p>
             </template>
              <paper-input-container>
                <label slot="input">Email</label>
                <iron-input slot="input" bind-value="{{email}}">
                  <input class="input-style" id="email" type="text" value="{{email}}" placeholder="Email">
                </iron-input>
              </paper-input-container>

              <paper-input-container>
                <label>Password</label>
                <iron-input slot="input" bind-value="{{password}}">
                  <input id="password" type="password" value="{{password}}" placeholder="Password">
                </iron-input>
              </paper-input-container>

              <div class="wrapper-btns">
                <paper-button raised class="genric-btn primary-border" on-tap="login">Log In</paper-button>
                <paper-button class="link" on-tap="registro">Registro</paper-button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/sessions/v1"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAjaxResponse"
      on-error="showError"></iron-ajax>

  </template>

  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type:String
          },
          password: {
            type:String
          }
        };
      }
      manageAjaxResponse (data){
        console.log("manageAjaxResponse");
        console.log(data.detail.response);
        var user = data.detail.response.user;

        sessionStorage.setItem("userId",user._id);
        sessionStorage.setItem("sessionId",data.detail.response.sessionId);
        sessionStorage.setItem("name",user.first_name);
        window.location.href = "/mybank/listado-cuentas";

        // redirect to Secret Quotes
        //this.set('route.path', '/listado-cuentas');
      }

      showError (error){
        console.log("Se ha producido un error");
        console.log(error);
        this.error = error.detail.request.response.error_msg;
      }

      login (data){
        console.log("function login: se ha pulsado el botón");
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
        //para acceder a los elemenots del shadow dom con this.$
        this.$.doLogin.body = JSON.stringify(loginData);
        //hacer la llamada ajax
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }

      registro(){
        console.log("Registro usuario");
        window.location.href = "/registro-usuario";
        //this.set('route.path', '/registro-usuario');
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>

</dom-module>
