<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="listado-cuentas.html">
<link rel="lazy-import" href="listado-movimientos.html">
<link rel="lazy-import" href="detalle-movimiento.html">
<link rel="lazy-import" href="alta-movimiento.html">
<link rel="lazy-import" href="perfil-usuario.html">
<link rel="lazy-import" href="nueva-cuenta.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: rgba(108,187,35,0.85);
        --app-secondary-color: black;
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }
      app-header .greeting {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
      }
      .link-menu {
        font-size: 15px;
        font-weight: bold;
      }

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>


    <app-drawer-layout fullbleed narrow="{{narrow}}">

        <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <div main-title><h4>Mi Banco   - Hola [[userName]]!</h4> </div>
              <paper-button class="link-menu" on-tap="perfil" alt="Perfil"> <img src="images/user.png" class="img-fluid pull-xs-left" alt="Perfil">Perfil</paper-button>
              <paper-button class="link-menu" on-tap="cuentas" alt="Cuentas">Cuentas</paper-button>
              <paper-button class="link-menu" on-tap="cerrarSesion"> Cerrar sesión </paper-button>
          </app-toolbar>
        </app-header>

        <div class="card">
          <div class="container">
            <iron-pages
                selected="[[page]]"
                attr-for-selected="name"
                fallback-selection="view404"
                role="main">
                <listado-cuentas name="listado-cuentas"></listado-cuentas>
                <listado-movimientos name="listado-movimientos"></listado-movimientos>
                <detalle-movimiento name="detalle-movimiento"></detalle-movimiento>
                <alta-movimiento name="alta-movimiento"></alta-movimiento>
                <login-usuario name="login-usuario"></login-usuario>
                <perfil-usuario name="perfil-usuario"></perfil-usuario>
                <nueva-cuenta name="nueva-cuenta"></nueva-cuenta>
                <my-view404 name="my-view404"></my-view404>
            </iron-pages>
          </div>
        </div>

      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          userName: {
            type: String,
            value: sessionStorage.getItem("name")
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'registro-usuario' in that case.
        this.page = page || 'login-usuario';
        console.log("_routePageChanged-page" + page);

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        console.log("_pageChanged-page" + page);
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
      cerrarSesion() {
        sessionStorage.clear();
        window.location.href="login-usuario"
      }
      perfil() {

        window.location.href="/mybank/perfil-usuario"
      }
      cuentas() {
        window.location.href="/mybank/listado-cuentas"
      }

      changePage(newPage){
        this.page = newPage;
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
