<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">


<link rel="import" href="shared-styles.html">

<dom-module id="nueva-cuenta">
  <template>
    <style include="shared-styles">
       :host {
         display: block;
         padding: 10px;
       }

     </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="card">

      <div class="section-top-border">
		       <div class="row">
             <div class="col-md-1">
             </div>
		         <div class="col-md-3">
		            <img src="images/Mi_banco.png" alt="" class="img-fluid">
		         </div>
		         <div class="col-md-6 mt-sm-20">
               <template is="dom-if" if="[[error]]">
                    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
               </template>
               <template is="dom-if" if="[[ok_msg]]">
                    <p class="alert-ok"> [[ok_msg]]</p>
               </template>
               <div class="story-content">
                <h1>Introduzca los datos de su cuenta:</h1>
                 <paper-input-container>
                   <label slot="input">Alias</label>
                   <iron-input slot="input" bind-value="{{alias}}">
                     <input class="input-style" id="alias" type="text" value="{{alias}}" placeholder="Alias">
                   </iron-input>
                 </paper-input-container>

                 <paper-dropdown-input label="Divisa" items='["EUR","USD","GBP", "JPY","BTC"]' value="{{currency}}">
                 </paper-dropdown-input>

                 <paper-input-container>
                   <label>¿Quiere hacer un ingreso inicial? Introduzca cantidad: </label>
                   <iron-input slot="input" bind-value="{{balance}}">
                     <input id="balance" type="number" value="{{balance}}" placeholder="¿Quiere hacer un ingreso inicial? Introduzca cantidad:">
                   </iron-input>
                 </paper-input-container>
                 <paper-input-container>
                   <label>Límite de movimiento</label>
                   <iron-input slot="input" bind-value="{{transactionLimit}}">
                     <input id="transactionLimit" type="number" value="{{transactionLimit}}" placeholder="Límite de movimiento">
                   </iron-input>
                 </paper-input-container>

                 <paper-input-container>
                   <label>Límite diario</label>
                   <iron-input slot="input" bind-value="{{dailyLimit}}">
                     <input id="dailyLimit" type="number" value="{{dailyLimit}}" placeholder="Límite diario">
                   </iron-input>
                 </paper-input-container>

                 <div class="wrapper-btns">
                   <paper-button raised class="genric-btn primary-border" on-tap="crear">Crear</paper-button>
                 </div>
             </div>
		         </div>
		       </div>
		  </div>

    </div>

      <iron-ajax
        id="createAccount"
        url="http://localhost:3000/accounts/v1"
        method="POST"
        content-type="application/json"
        handle-as="json"
        on-response="manageAjaxResponse"
        headers={{token}}
        on-error="showError"></iron-ajax>

  </template>

       <script>
         /**
          * @customElement
          * @polymer
          */
         class NuevaCuenta extends Polymer.Element {
           static get is() { return 'nueva-cuenta'; }
           static get properties() {
             return {
               userId:{
                 type: String,
                 value: sessionStorage.getItem("userId")
               },
               token:{
                 type: Object,
                 value: {"x-access-token" : sessionStorage.getItem("sessionId")}
               },
               userName:{
                 type: String,
                 value: sessionStorage.getItem("name")
               },
               alias:{
                 type: String
               },
               currency:{
                 type: String
               },
               dailyLimit:{
                 type: Number
               },
               transactionLimit:{
                 type: Number
               },
               balance:{
                 type: Number
               }
             };
           }
           manageAjaxResponse (data){
             console.log("manageAjaxResponse - crear cuenta");
             window.location.href = "/mybank/listado-cuentas";
           }

           showError (error){
             console.log("Se ha producido un error");
             console.log(error);
             this.error = error.detail.request.response.error_msg;
           }

           crear(data){
             console.log("Crear cuenta...");
             console.log (this.account);
             var crearData = {
                "alias": this.alias,
                "userId" : this.userId,
                "balance" : this.balance,
                "currency": this.currency,
                "dailyLimit": this.dailyLimit,
                "transactionLimit": this.transactionLimit,
             };
             console.log(JSON.stringify(crearData));
             //para acceder a los elemenots del shadow dom con this.$
             this.$.createAccount.body = JSON.stringify(crearData);
             //hacer la llamada ajax
             this.$.createAccount.generateRequest();
             console.log("Petición enviada");
           }
         }
         window.customElements.define(NuevaCuenta.is, NuevaCuenta);
       </script>
  </dom-module>
