<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">


<link rel="import" href="shared-styles.html">

<dom-module id="perfil-usuario">
  <template>
    <style include="shared-styles">
       :host {
         display: block;
         padding: 10px;
       }

     </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="card">

      <div class="section-top-border">
		       <div class="row">
             <div class="col-md-1">
             </div>
		         <div class="col-md-3">
		            <img src="images/Mi_banco.png" alt="" class="img-fluid">
		         </div>
		         <div class="col-md-6 mt-sm-20">
               <template is="dom-if" if="[[error]]">
                    <p class="alert-error"><strong>Error:</strong> [[error]]</p>
               </template>
               <template is="dom-if" if="[[ok_msg]]">
                    <p class="alert-ok"> [[ok_msg]]</p>
               </template>

               <paper-input-container>
                 <label slot="input">Email*</label>
                 <iron-input slot="input" bind-value="{{user.email}}">
                   <input class="input-style" id="email" type="text" value="{{user.email}}" readonly>
                 </iron-input>
               </paper-input-container>

               <paper-input-container>
                 <label>Password*</label>
                 <iron-input slot="input" bind-value="{{user.password}}">
                   <input id="password" type="password" value="" placeholder="Password" required>
                 </iron-input>
               </paper-input-container>

               <paper-input-container>
                 <label>Nombre*</label>
                 <iron-input slot="input" bind-value="{{user.first_name}}">
                   <input id="nombre" type="text" value="{{user.first_name}}" placeholder="Nombre" required>
                 </iron-input>
               </paper-input-container>

               <paper-input-container>
                 <label>Apellidos</label>
                 <iron-input slot="input" bind-value="{{user.last_name}}">
                   <input id="apellidos" type="text" value="{{user.last_name}}" placeholder="Apellidos" required>
                 </iron-input>
               </paper-input-container>

               <paper-dropdown-input label="Idioma" items='["ES","EN"]' value="{{user.languageId}}" selected="{{user.languageId}}">
               </paper-dropdown-input>

               <paper-dropdown-input label="País" items='["España","Alemania", "Francia"]' value="{{user.country}}" selected="{{user.country}}">
               </paper-dropdown-input>

               <paper-input-container>
                 <label>Ciudad</label>
                 <iron-input slot="input" bind-value="{{user.city}}">
                   <input id="Ciudad" type="text" value="{{user.city}}" placeholder="Ciudad" required>
                 </iron-input>
               </paper-input-container>

               <paper-input-container>
                 <label>Dirección</label>
                 <iron-input slot="input" bind-value="{{user.address}}">
                   <input id="Dirección" type="text" value="{{user.address}}" placeholder="Direccion" required>
                 </iron-input>
               </paper-input-container>

               <div class="wrapper-btns">
                 <paper-button raised class="genric-btn primary-border small" on-tap="modificar">Modificar</paper-button>
               </div>

		         </div>
		       </div>
		  </div>

    </div>

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/users/v1/[[userId]]"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAjaxResponse"
      headers={{token}}
      on-error="showError"></iron-ajax>

      <iron-ajax
        id="putUser"
        url="http://localhost:3000/users/v1/[[userId]]"
        method="PUT"
        content-type="application/json"
        handle-as="json"
        on-response="manageAjaxResponseModify"
        headers={{token}}
        on-error="showError"></iron-ajax>

  </template>

       <script>
         /**
          * @customElement
          * @polymer
          */
         class PerfilUsuario extends Polymer.Element {
           static get is() { return 'perfil-usuario'; }
           static get properties() {
             return {
               userId:{
                 type: String,
                 value: sessionStorage.getItem("userId")
               },
               token:{
                 type: Object,
                 value: {"x-access-token" : sessionStorage.getItem("sessionId")}
               },
               userName:{
                 type: String,
                 value: sessionStorage.getItem("name")
               },
               user: {
                 type: Object
               }
             };
           }
           manageAjaxResponse (data){
             console.log("manageAjaxResponse - user detail");
             this.user = data.detail.response

           }

           manageAjaxResponseModify (data){
             console.log("manageAjaxResponse - modifyUser");
             this.user = data.detail.response
             this.ok_msg = "Usuario modificado correctamente";
           }

           showError (error){
             console.log("Se ha producido un error");
             console.log(error);
             this.error = error.detail.request.response.error_msg;
           }

           modificar(data){
             console.log("function registro: se ha pulsado el botón");
             var modificarData = {
               "first_name" : this.user.first_name,
               "last_name" : this.user.last_name,
               "languageId" : this.user.languageId,
               "email" : this.user.email,
               "password" : this.user.password,
               "country": this.user.country,
               "city": this.user.city,
               "address": this.user.address
             };
             //para acceder a los elemenots del shadow dom con this.$
             this.$.putUser.body = JSON.stringify(modificarData);
             //hacer la llamada ajax
             this.$.putUser.generateRequest();
             console.log("Petición enviada");
           }
         }
         window.customElements.define(PerfilUsuario.is, PerfilUsuario);
       </script>
  </dom-module>
