<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-dropdown-input/paper-dropdown-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="shared-styles.html">

<dom-module id="registro-usuario">
  <template>
  <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }


    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <app-location route="{{route}}"></app-location>

    <div class="card">

      <div class="container">
          <div class="row fullscreen align-items-center justify-content-center">

            <div class="banner-left col-lg-6">
              <img src="images/Mi_banco.png" class="d-flex mx-auto img-fluid"></img>
            </div>
            <div class="col-lg-6">
              <template is="dom-if" if="[[error]]">
                   <p class="alert-error"><strong>Error:</strong> [[error]]</p>
              </template>
              <div class="story-content">
                <h1>Nuevo usuario</h1>
                <paper-input-container>
                  <label slot="input">Email*</label>
                  <iron-input slot="input" bind-value="{{email}}">
                    <input class="input-style" id="email" type="text" value="{{email}}" placeholder="Email">
                  </iron-input>
                </paper-input-container>

                <paper-input-container>
                  <label>Password*</label>
                  <iron-input slot="input" bind-value="{{password}}">
                    <input id="password" type="password" value="{{password}}" placeholder="Password" required>
                  </iron-input>
                </paper-input-container>

                <paper-input-container>
                  <label>Nombre*</label>
                  <iron-input slot="input" bind-value="{{first_name}}">
                    <input id="nombre" type="text" value="{{first_name}}" placeholder="Nombre" required>
                  </iron-input>
                </paper-input-container>

                <paper-input-container>
                  <label>Apellidos</label>
                  <iron-input slot="input" bind-value="{{last_name}}">
                    <input id="apellidos" type="text" value="{{last_name}}" placeholder="Apellidos" required>
                  </iron-input>
                </paper-input-container>

                <paper-dropdown-input label="Idioma" items='["ES","EN","FR"]' value="{{languageId}}">
                </paper-dropdown-input>

                <paper-dropdown-input label="País" items='["España","Alemania","Francia"]' value="{{country}}" required>
                </paper-dropdown-input>

                <paper-input-container>
                  <label>Ciudad</label>
                  <iron-input slot="input" bind-value="{{city}}">
                    <input id="Ciudad" type="text" value="{{city}}" placeholder="Ciudad" required>
                  </iron-input>
                </paper-input-container>

                <paper-input-container>
                  <label>Dirección</label>
                  <iron-input slot="input" bind-value="{{address}}">
                    <input id="Dirección" type="text" value="{{address}}" placeholder="Direccion" required>
                  </iron-input>
                </paper-input-container>

                <div class="wrapper-btns">
                  <paper-button raised class="genric-btn primary-border" on-tap="registro">Registro</paper-button>
                  <!--<paper-button class="link" on-tap="postRegister">Sign Up</paper-button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <iron-ajax
    id="doRegistro"
    url="http://localhost:3000/users/v1"
    method="POST"
    content-type="application/json"
    handle-as="json"
    on-response="manageAjaxResponse"
    on-error="showError"></iron-ajax>

  </template>

  <script>

    class RegistroUsuario extends Polymer.Element {
      static get is() { return 'registro-usuario'; }
      static get properties() {
        return {
          first_name: {
            type:String
          },
          last_name: {
            type:String
          },
          languageId: {
            type:String
          },
          email: {
            type:String
          },
          password: {
            type:String
          },
          user: {
            type:Object
          },
          country: {
            type:String
          },
          city: {
            type:String
          },
          address: {
            type:String
          },
          error: {
            type:String
          }
        };
      }
      manageAjaxResponse (data){

        console.log("manageAjaxResponse");
        console.log(data.detail.response);

        var user = data.detail.response.user;

        sessionStorage.setItem("userId",user._id);
        sessionStorage.setItem("sessionId",data.detail.response.sessionId);
        sessionStorage.setItem("name",user.first_name);
        window.location.href = "/mybank/nueva-cuenta";
      }

      showError (error){
        console.log("Se ha producido un error");
        console.log(error);
        this.error = error.detail.request.response.error_msg;
      }


      registro (data){
        console.log("function registro: se ha pulsado el botón");
        var registroData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "languageId" : this.languageId,
          "email" : this.email,
          "password" : this.password,
          "country": this.country,
          "city": this.city,
          "address": this.address
        };
        //para acceder a los elemenots del shadow dom con this.$
        this.$.doRegistro.body = JSON.stringify(registroData);
        //hacer la llamada ajax
        this.$.doRegistro.generateRequest();
        console.log("Petición enviada");
      }

    }

    window.customElements.define(RegistroUsuario.is, RegistroUsuario);
  </script>
</dom-module>
