<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 50px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 20px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      .genric-btn.warning-border{
        color:#f4e700;
        border:1px solid #f4e700;
        background:#fff
      }
      .genric-btn.warning-border:hover{
        color:#fff;
        background:#f4e700;
        border:1px solid transparent
      }
      .genric-btn.success-border{
        color:#4cd3e3;
        border:1px solid #4cd3e3;
        background:#fff
      }
      .genric-btn.success-border:hover{
        color:#fff;
        background:#4cd3e3;
        border:1px solid transparent
      }

      genric-btn.small {
        line-height: 25px;
      }
      .genric-btn.primary-border:hover{
        color:#fff;
        background:#6cbb23;
        border:1px solid transparent
      }
      .genric-btn.primary-border {
          color: #6cbb23;
          border: 1px solid #6cbb23;
          background: #fff;
      }

      .genric-btn.primary:hover {
          color: #6cbb23;
          border: 1px solid #6cbb23;
          background: #fff;
      }

      .genric-btn.primary {
          color: #fff;
          background: #6cbb23;
          border: 1px solid transparent;
      }
      .genric-btn.arrow {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      .genric-btn.circle {
        border-radius: 15px;
      }

      .genric-btn.warning {
        color: #38a4ff;
        background: #f4e700;
        border: 1px solid transparent;
      }
      a, a:focus, a:hover {
      text-decoration: none;
      outline: 0;
      color: #777;
      }
      .story-content h1 {
        font-size: 44px;
        font-weight: 100;
        line-height: 1.2em;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .single-faq {
    margin-bottom: 30px;
  }
  .faq-content {
    padding-left: 10%;
    padding-right: 10%;
  }

  .counter-left {
    text-align: right;
  }

  .counter-left-green {
    font-size: 30px;
    font-weight: 100;
    color: #6cbb23;
  }
  .counter-left-red{
    font-size: 30px;
    font-weight: 100;
    color: #f56124;
  }
  .green {
  color: #6cbb23;
  }
  .red {
  color: #f56124;
  }

  .oz-body-wrap {
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
    margin: 50px;
    position: relative;
  }
  .default-header {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
    nav {
        margin-right: 70px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        transform-origin: 100% 50%;
    }
    .menu-bar {
    cursor: pointer;
    }
    .menu-bar span {
      color: #000;
      font-size: 24px;
  }
  .banner-area {
    background: #fff;
  }
  .relative {
      position: relative;
  }
  .section-top-border {
      padding: 20px 0;
      border-top: 1px dotted #eee;
  }
  input {
    position: relative; /* to make a stacking context */
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background: transparent;
    border: none;
    color: var(--paper-input-container-input-color, var(--primary-text-color));
    -webkit-appearance: none;
    text-align: inherit;
    vertical-align: bottom;
    /* Firefox sets a min-width on the input, which can cause layout issues */
    min-width: 0;
    @apply --paper-font-subhead;
    @apply --paper-input-container-input;
  }

  .wrapper-btns {
    margin-top: 15px;
  }
  paper-button.link {
    color: #757575;
  }
  .alert-error {
    background: #ffcdd2;
    border: 1px solid #f44336;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    padding: 10px;
  }
  .alert-ok {
    background: #6cbb23;
    border: 1px solid #6cbb23;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    padding: 10px;
  }
  .alert-warning {
    background: ##f4e700;
    border: 1px solid #f4e700;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    padding: 10px;
  }

  input {
    position: relative; /* to make a stacking context */
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background: transparent;
    border: none;
    color: var(--paper-input-container-input-color, var(--primary-text-color));
    -webkit-appearance: none;
    text-align: inherit;
    vertical-align: bottom;
    /* Firefox sets a min-width on the input, which can cause layout issues */
    min-width: 0;
    @apply --paper-font-subhead;
    @apply --paper-input-container-input;
  }
  .genric-btn.primary:hover {
      color: #6cbb23;
      border: 1px solid #6cbb23;
      background: #fff;
  }

  .genric-btn.primary {
      color: #fff;
      background: #6cbb23;
      border: 1px solid transparent;
  }
  .genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .genric-btn.circle {
    border-radius: 20px;
  }
  a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #777;
  }

    </style>
  </template>
</dom-module>
